** {
  padding: 0;
  margin: 0;
}

body, div {
  box-sizing: border-box;
}

.page {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  transition: 0.2s;
}

.pages {
  display: flex;
  align-items: center;
}

.karte-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.side-picture{
  box-sizing: border-box;
  width: 20vw;
  height: 100vh;
}

.side-picture img {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  height: 100vh;
  align-content: flex-start;
}


.editor {
  height: 100vh;
  width: 20vw;
  box-sizing: border-box;
  border-left: 1px solid black;
  position: absolute;
  right: 0;
  background: white;
}

.edit {
  border: 2px solid black;
}
